{% extends 'index.html'%}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>
{%block cart_product_remove%}


<div class="row">
                <div class="col-md-9">

                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{cart_product.count}}</strong>) items</span>
                            <h5>Items in your cart</h5>
                        </div>
                        {% for product in cart_product %}
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">

                                    <tbody>
                                    <tr>
                                        <td width="150" height="50">
                                            <div class="cart-product-imitation">
                                                <div >
                                                {% if product.image %}
                                                <img src="{{product.image.url}}" alt="Trulli" width="120">
                                                {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                            <a href="#" class="text-navy">
                                                {{product.name}}
                                            </a>
                                            </h3>
                                            <dl class="small m-b-none">
                                                <dt>Description</dt>
                                                <dd> {{product.description}}</dd>
                                            </dl>

                                            <div class="m-t-sm">|
                                                <a href="{% url 'remove_product_cart' product.id %}"  class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                            </div>
                                        </td>
                                        <td>
                                            <h4>
                                                ${{product.price}}
                                            </h4>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-md-3">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Total
                            </span>
                            <h2 class="font-bold">
                                $390,00
                            </h2>

                            <hr/>
                            <span class="text-muted small">
                                *For India applicable sales tax will be applied
                            </span>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">



                            <h3><i class="fa fa-phone"></i> +8269103161</h3>
                            <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>


                        </div>
                    </div>
                </div>
                </div>




<!--        <h2>E-commerce shopping cart</h2>-->
<!--    <div class="ibox-title">-->
<!--            <span class="pull-right">(<strong>{{cart_product.count}}</strong>) items</span>-->
<!--            <h5>Items in your cart</h5>-->
<!--        </div>-->

<!--        {% for product in cart_product %}-->
<!--        <div class="wrapper wrapper-content animated fadeInRight">-->

<!--            <div class="row">-->
<!--                <div class="col-md-9">-->

<!--                    <div class="ibox">-->

<!--                        <div class="ibox-content">-->


<!--                            <div class="table-responsive">-->
<!--                                <table class="table shoping-cart-table">-->

<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td width="90">-->
<!--                                            <div class="cart-product-imitation">-->
<!--                                                 <div >-->
<!--                                                {% if product.image %}-->
<!--                                                <img src="{{product.image.url}}" alt="Trulli" width="300" height="300">-->
<!--                                                {% endif %}-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </td>-->
<!--                                        <td class="desc">-->
<!--                                            <h3>-->
<!--                                            <a href="#" class="text-navy">-->
<!--                                                {{product.name}}-->
<!--                                            </a>-->
<!--                                            </h3>-->

<!--                                            <dl class="small m-b-none">-->
<!--                                                <dt>Description</dt>-->
<!--                                                <dd>{{product.description}}</dd>-->
<!--                                            </dl>-->

<!--                                            <div class="m-t-sm">-->
<!--                                                <a href="{% url 'remove_product_cart' product.id %}"  class="text-muted"><i class="fa fa-trash"></i> Remove item</a>-->
<!--                                            </div>-->
<!--                                        </td>-->

<!--                                        <td>-->
<!--                                            <h4>-->
<!--                                                ${{product.price}}-->
<!--                                            </h4>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--        {%endfor%}-->
<!--        <div class="ibox-content">-->

<!--                            <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>-->
<!--                            <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>-->

<!--                        </div>-->
<!--        </div>-->


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock%}
</body>

</html>
